<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings>
  <add name="core" connectionString="user id=sugcon_website_login;password=b;Data Source=.;Database=SUGCON.Website.local.Core"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
  <add name="master" connectionString="user id=sugcon_website_login;password=b;Data Source=.;Database=SUGCON.Website.local.Master"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  <add name="web" connectionString="user id=sugcon_website_login;password=b;Data Source=.;Database=SUGCON.Website.local.Web"   xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
  <add name="analytics" connectionString="mongodb://wsmongo/Sitecore_analytics"   xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
</connectionStrings>