<?xml version="1.0"?>
<configuration>
  <system.web>
    <add name="core" connectionString="user id=user;password=password;Data Source=.;Database=SUGCON.Website.local.Core" />
    <add name="master" connectionString="user id=user;password=password;Data Source=.;Database=SUGCON.Website.local.Master" />
    <add name="web" connectionString="user id=user;password=password;Data Source=.;Database=SUGCON.Website.local.Web" />
    <add name="analytics" connectionString="mongodb://localhost/Sitecore_analytics" />
  </system.web>
</configuration>
